*.ckpt filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
frontend/android/app/debug/app-debug.apk filter=lfs diff=lfs merge=lfs -text
AI/kface/weights/e_41_b_0.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
moa/android/app/debug/app-debug.apk filter=lfs diff=lfs merge=lfs -text
